:root {
  --font-primary: "Trebuchet MS", sans-serif;
}

body {
  --body--margin: 0;
  --body--padding: 1rem;

  margin: var(--body--margin);
  padding: var(--body--padding);
}

section {
  --section--margin: 1rem 0;
  --section--padding: 1rem;
  --section--border-color: #303030;
  --section--border-radius: 25px;

  margin: var(--section--margin);
  padding: var(--section--padding);
  border: 2px solid var(--section--border-color);
  border-radius: var(--section--border-radius);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

h1 {
  --h1--color: white;
  --h1--background-color: #303030;
  --h1--margin: 0;
  --h1--padding-y: 1rem;
  --h1--border-radius: 25px;

  margin: var(--h1--margin);
  padding-top: var(--h1--padding-y);
  padding-bottom: var(--h1--padding-y);
  text-align: center;
  color: var(--h1--color);
  background-color: var(--h1--background-color);
  border-radius: var(--h1--border-radius);
}

h2 {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

wc-card,
wc-card-template {
  --card--max-width: 15rem;
  --card--padding: 1rem;
  --card--margin: 1rem;
  --card--border-color: #303030;
  --card--border-radius: 5%;
  --card--font-secondary: sans-serif;

  --card--title-margin: 0;
  --card--title-font-weight: 900;
  --card--title-font-size: 1.5rem;

  --card--subtitle-margin: 0;
  --card--subtitle-color: gray;
  --card--subtitle-font-size: 0.8rem;

  --card--body-margin: 0;
  --card--body-padding-top: 0.5rem;

  display: block;
  max-width: var(--card--max-width);
  margin: var(--card--margin);
  padding: var(--card--padding);
  border: 2px solid var(--card--border-color);
  border-radius: var(--card--border-radius);
}

wc-card .card-title {
  margin: var(--card--title-margin);
  font-size: var(--card--title-font-size);
  font-weight: var(--card--title-font-weight);
  text-transform: uppercase;
}

wc-card .card-subtitle {
  margin: var(--card--subtitle-margin);
  font-family: var(--card--font-secondary);
  font-style: italic;
  font-size: var(--card--subtitle-font-size);
  color: var(--card--subtitle-color);
}

wc-card .card-body {
  margin: var(--card--body-margin);
  padding-top: var(--card--body-padding-top);
  font-family: var(--card--font-secondary);
}
